<%= form_for(@emailtemplate) do |f| %>
  <% if @emailtemplate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@emailtemplate.errors.count, "error") %> prohibited this emailtemplate from being saved:</h2>

      <ul>
      <% @emailtemplate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
