
span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total {
font-weight: bold;
color: #000;
}

.cart-subtotal td h5{
color: #000 !important;
}

 
.progress-steps li.current-first, .progress-steps li.current {
background-color: #EFB013;
color: white;
}

a {
color: #EFB013;
text-decoration: none;
}

#shipping_method .stock-location {

background-color: #EFB013;
color: white;
}

.progress-steps li.completed-first:hover, .progress-steps li.completed:hover {
background-color: #E9BA44;
color: white;
}