.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { color:#56BD56; }
.navbar-nav a:hover, .navbar-nav a:active, .navbar-nav .active a, .navbar-nav .active { color:#56BD56; }
.navbar-default .navbar-nav>li>a:hover { color:#56BD56; }
.store-top-links a:hover { color:#56BD56; }
.specials ul li .hot { background-color:#56BD56; }
.product-box .sale { background-color:#56BD56; }

.sub-nav-boxes .current { color: #56BD56; }
.sub-nav-boxes .current:hover { background-color: #56BD56; border-color:#56BD56; }
.sub-nav-boxes a:hover { background-color:#56BD56; border:1px solid #56BD56; }
.product .rating  a { color:#56BD56; }
.post-link:hover { background-color:#56BD56; border:1px solid #56BD56; color:#fff; }
.subscribe .frm button:hover { background-color:#56BD56; color:#fff; border-color:#56BD56; }

.sidebar-links h3 { color:#56BD56; }
.box-heading a { color:#56BD56; }

h1, h2, h3, h4 { color:#56BD56; }

.breadcrumb a { color:#56BD56; }
.gallery-item-types a { color:#56BD56; }
.btn-readmore { border: solid 1px #56BD56; background-color: #56BD56; }

.footer .address { color:#56BD56; }
.btn-primary {
    background-color: #3F2E04 !important;
    border-color: #3F2E04 !important;
}