.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover { color:#C00; }
.navbar-nav a:hover, .navbar-nav a:active, .navbar-nav .active a, .navbar-nav .active { color:#C00; }
.navbar-default .navbar-nav>li>a:hover { color:#C00; }
.store-top-links a:hover { color:#C00; }
.specials ul li .hot { background-color:#C00; }
.product-box .sale { background-color:#C00; }

.sub-nav-boxes .current { color: #C00; }
.sub-nav-boxes .current:hover { background-color: #C00; border-color:#C00; }
.sub-nav-boxes a:hover { background-color:#C00; border:1px solid #C00; }
.product .rating  a { color:#C00; }
.post-link:hover { background-color:#C00; border:1px solid #C00; color:#fff; }
.subscribe .frm button:hover { background-color:#C00; color:#fff; border-color:#C00; }
.footer .address { color:#FF6C6C; }
.sidebar-links h3 { color:#C00; }
.box-heading a { color:#C00; }

h1, h2, h3, h4 { color:#C00; }

.breadcrumb a { color:#C00; }
.gallery-item-types a { color:#C00; }
.btn-readmore { border: solid 1px #C00; background-color: #C00; }