<% content_for :page_title do %>
Widget
<% end %>
<% content_for :page_actions do %>
<li >
  <%= link_to new_admin_widget_path, class: 'btn blue', icon: "plus" do %><i class="fa fa-plus"></i>Add new Widget
  <% end %>
</li>
<% end%>
<% if @widgets.first.present? %>
<div class="col-md-9">
<div class="portlet box blue">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-cogs"></i>Widgets
    </div>
    <div class="tools">
      <a href="javascript:;" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body flip-scroll">
    <table class="table table-bordered table-striped table-condensed flip-content">
      <thead class="flip-content">
        <tr data-hook="admin_products_index_headers">
          <th>Name</th>
          <th data-hook="admin_products_index_header_actions" class="actions"></th>
        </tr>
      </thead>
      <tbody>
        <% @widgets.each do |widget| %>
        <tr id="spree_product_7" data-hook="admin_products_index_rows" class="odd">
          <td class="align-center"><%= widget.name %></td>
          <td class="actions" data-hook="admin_products_index_row_actions">
            <%= link_to '', edit_admin_widget_path(widget), class: "edit fa fa-edit icon_link with-tip no-text", "data-action" => "edit"%> 
            <%= link_to '', admin_widget_path(widget), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash icon_link with-tip no-text", "data-action" => "remove" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
<% end %>