<%=render :partial=>'spree/shared/setting_sub_nav_tab'%>
<div id="content-header" data-hook="">
  <div class="container">
    <div class="sixteen columns">
      <div class="block-table">
        <div class="table-cell">
          <h1 class="page-title ">Cms Pages</h1>
        </div>
         <% if params[:action]=="index" %>
        <%= link_to "Add new Page", new_admin_cms_page_path, class: 'button fa fa-plus add-page', icon: "plus" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr />