  <div class="">
    <ul class="ver-inline-menu tabbable margin-bottom-10">
      <li class="<%= is_active?('/admin/cms_pages') %>">
        <a href="/admin/cms_pages" aria-expanded="true">
         <i class="fa fa-book"></i>
         Dynamic
       </a>
       <span class="after">
        </span>
     </li>
     <li class="<%= is_active?(static_admin_cms_pages_path) %>">
      <a href="<%=  static_admin_cms_pages_path %>" aria-expanded="true">
       <i class="fa fa-map-marker"></i>
       Static
     </a>
   </li>
</ul>
</div>