<aside  data-hook="" class="four columns"> <br>
  <nav class="menu">
    <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
      <li><a href="/admin/cms_pages">Pages</a></li>
      <hr>
      <% @pages.each do |page| %>
        <li><a href="/page/<%= page.id %>"><%= page.title %></a></li>
      <% end %>
    </ul>
  </nav>
</aside>