<%
paginated_products = @searcher.retrieve_products if params.key?(:keywords)
paginated_products ||= products
%>
 <% products.each do |product| %>
      <% url = product_path(product, :taxon_id => @taxon.try(:id)) %>
      
        <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : [I18n.locale, current_currency, product]) do %>
        <div class="col-sm-6 col-md-3 bottom-mar  animated" data-animation="fadeInRight" data-animation-delay="300">
          <%= link_to product_image(product, :itemprop => "image", class: "responsive-height"), url, :itemprop => 'url' %>
            <div class="text-center home-law-products"><span>
              <h4> <%= link_to  url, :class => 'info', :itemprop => "name", :title => product.name do %><%=truncate(product.name, :length => 50) %><br><%if product.subscription %> (Subscription Product) <% end %> <% end %>
              <%= render :partial => "spree/shared/#{@selected_template.template_no}/show_price", :locals => { :p=> product} %>
              </span>
            </div>
        </div>

        <% end %>
    <% end %>
      <!-- end col-sm-3 -->