<fieldset id="order_details" data-hook>
  <div class="clearfix"></div>
  <h3 style="margin-left: 20px;"><%= Spree.t(:confirm) %></h3>
  <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag Spree.t(:place_order), :class => 'btn btn-primary place-order-new' ,:style => "color:white !important;"%>
  <script>Spree.disableSaveOnClick();</script>
</div>
