header.header-style-1 .header-nav .navbar {
	background: rgba(0, 0, 0, 0.7) !important;
}
header.header-style-1 .header-top {
	background: #000 !important;
}
footer .links-social {
	background: #181818 !important;
}
footer .copyright {
	background: #060606 !important;
}
footer .links-social .newsletter .input-group button {
	background: #343434 !important;
}
.product .product-image .cart {
	background: rgba(159, 159, 159, 0.66) !important;
}
footer .links-social .social-newsletter .social-links ul li a {
	border: 1px solid #343434 !important;
}
.current {
	background: #000 !important;
}
.btn-primary {
   color: #fff;
   background-color: #343434; 
   border-color: #343434; 
}
.btn-primary:hover {
   background-color: #343434; 
   border-color: #343434; 
}

.read-more-button 
{
    background-color: #343434 !important;
}

.comments_count
{
     background-color: #343434 !important;
}

.left_meta
{
     border-top: 2px solid  #343434 !important;
}

.header-box-blog {
    background: #343434 none repeat scroll 0 0 !important;
}


.blog-bg
{
   background:#343434  !important;
}


.blog-bg:hover
{
     background:#343434 !important;
}
