header.header-style-1 .header-nav .navbar {
	background: rgba(153, 19, 9, 1) !important;
}
header.header-style-1 .header-top {
	background: rgba(208, 0, 0, 1) !important;
}
footer .links-social {
	background: #700A0A !important;
}
footer .copyright {
	background: #A30A0A !important;
}
footer .links-social .newsletter .input-group button {
	background: #CB1212 !important;
color: #fff !important; 
}
.product .product-image .cart {
	background: rgba(196, 2, 2, 0.66) !important;
}
footer .links-social .social-newsletter .social-links ul li a {
	border: 1px solid #fff !important;
}
h3.title {
	color: #fff !important;
}
footer .links-social .link-groups .links ul li a {
	color: #fff !important;
}
footer .links-social .newsletter .input-group {
	border: 1px solid #BE1111 !important;
background: #910E0E !important;
}

::-webkit-input-placeholder {
 color: #fff !important;
}
footer .links-social .newsletter .input-group input {
	color: #fff !important;
}
header.header-style-1 .header-nav .cnt-search .input-group {
	border: 1px solid #b10808 !important;
	background: rgba(134, 11, 11, 0.80) !important;
}
.btn-default {
	color: #fff !important;
	background-color: #fff;
	border-color: #ccc;
}
header.header-style-1 .header-nav .cnt-search .input-group input {
	color: #fff !important;
}
footer .links-social .social-newsletter .social-links ul li a {
	color: #fff !important;
}
footer .copyright {
	color: #fff !important;
}
/*..........................................*/


input[type="button"], input[type="reset"], button, a.button {
	
background-color: #8B0808 !important;
border-radius: 0px !important;
border-top: solid 1px !important;
border: 1px solid #F61C09 !important;
font-size: 15px !important;
font-family: arial;
font-weight: normal !important;
padding-top: 7px !important;
padding-bottom: 7px !important;
}
.btn-primary {
	color: #fff;
	background-color: #960303 !important
	border-color: #d4e7f7 !important;
}
table thead {
	background-color: #FFAEAE !important;
text-transform: uppercase;
}
table tbody tr.alt, table tbody tr.odd, table tfoot tr.alt, table tfoot tr.odd {
	background-color: #F7D4D4 !important;
}
.cart-subtotal, .cart-total {
	background: #FFA5A5 !important;
color: black !important;
}

::selection {
	background: #105593;
	color:#000 !important;
	text-shadow: none;
}
.next:hover {
	color: #105593 !important;
}
.search-text-area {
	border: 1px solid #AD0B0B !important;
background: rgba(81, 5, 8, 0.89) !important;
}
input[type="submit"] {
	background-color: #5A0505 !important;
border-color: #8E1D08 !important;

}


.header-top .cnt-cart .list-unstyled > li > a:active {
	color: #fff !important;
}
.cnt-strip .strip {
	background: rgba(231, 4, 4, 0.44) !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background: rgba(0, 0, 0, 0.5) !important;
	color: #555
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #fff !important;
background-color: #92090F !important;
border-color: #F81922 !important;
border-radius: 1px !important;
}

li.current-first, .progress-steps li.current:hover {
background-color: #9E0E0E !important;
color: white !important;
}
.progress-steps li.current-first, .progress-steps li.current {
background-color: #C90E0E !important;
color: white !important;
}

.btn-primary {
color: #fff;
background-color: #910505 !important;
border-color: #FF1010 !important;
border-radius: 1px !important;
}
h4 a{ color:#000;}
.similar_items_by_taxon > li > a{ color:#000;}