@media screen and (max-width: 320px) {
body { margin-top:250px; }
.fixed-header { height:250px; }
.subscribe .frm input { width:200px; }
.subscribe .frm input, .subscribe .frm button { padding:10px; }
.product-info { margin-left:6px; }
.sub-nav-boxes a, .sub-nav-boxes .current { font-size:12px; padding:6px 12px; }
.sub-nav-boxes li { display:block; margin:12px 0; }
.caption { font-size:16px; letter-spacing:1px; margin:0 10px; }
.sub-caption { color:#999; font-size:15px; }
.blog-post-text { padding:20px; }
.post-caption { font-size:16px; letter-spacing:1px; margin:10px 0 20px 0; }
.post-link { padding:4px 10px; }
.blog-post-text .glyphicon { font-size:20px; }
.small-screen-left { float:left !important; margin:10px 0 0 -10px !important; }
.logo { margin-bottom:20px; }
.small-screen-left li { padding-top:10px; }
.logo img { max-width:190px; }
.search-box-2 { right:25px; top:80px; }
.slider-push { margin-top:20px; }
.left-promo { background-size: auto auto; }
.right-promo { background-size: auto auto; }
.promotion-1 { padding-top:50px; }
.content-caption { margin-top:20px; }
.product-image { width:100%; text-align:center; }
.secondary-2 { display:none; }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
body { margin-top:250px; }
.fixed-header { height:250px; }
.subscribe .frm input { width:200px; }
.subscribe .frm input, .subscribe .frm button { padding:10px; }
.product-info { margin-left:6px; }
.sub-nav-boxes a, .sub-nav-boxes .current { font-size:12px; padding:6px 12px; }
.sub-nav-boxes li { display:block; margin:12px 0; }
.caption { font-size:16px; letter-spacing:1px; margin:0 10px; }
.sub-caption { color:#999; font-size:15px; }
.blog-post-text { padding:20px; }
.post-caption { font-size:16px; letter-spacing:1px; margin:10px 0 20px 0; }
.post-link { padding:4px 10px; }
.blog-post-text .glyphicon { font-size:20px; }
.small-screen-left { float:left !important; margin:10px 0 0 -10px !important; }
.logo { margin-bottom:20px; }
.logo img { max-width:190px; }
.small-screen-left li { padding-top:10px; }
.search-box-2 { right:25px; top:80px; }
.slider-push { margin-top:20px; }
.left-promo { background-size: auto auto; }
.right-promo { background-size: auto auto; }
.content-caption { margin-top:20px; }
.product-image { width:100%; text-align:center; }
.secondary-2 { display:none; }
.navbar-right {margin-right: -51px; margin-top: -35px;}
.navbar-right li { display: inline-block; }
.search-slide { right: 22px; top: 80px;}
}
@media screen and (min-width: 480px) and (max-width: 639px) {
body { margin-top:226px; }
.fixed-header { height:226px; }
.subscribe .frm input { width:310px; }
.product-info { margin-left:80px; }
.product-box .sale { top:10px; left:90px; }
.product-box .new { top:10px; right:90px; }
.sub-nav-boxes a, .sub-nav-boxes .current { font-size:12px; padding:6px 12px; }
.blog-post-text { padding:40px; }
.post-caption { font-size:20px; letter-spacing:6px; margin:20px 0 40px 0; }
.post-link { padding:10px 20px; }
.blog-post-text .glyphicon { font-size:26px; }
.logo { margin-bottom:20px; }
.search-box-2 { right:25px; top:74px; }
.product-image { width:100%; text-align:center; }
.effect .mask { border-width:203px; }
.effect:hover a.info { transform:translateY(35px); }
.content-caption { margin-top:20px; }
.secondary-2 { display:none; }
.navbar-right {margin-right: -51px; margin-top: -35px;}
.navbar-right li { display: inline-block; }
.search-slide { right: 22px; top: 80px;}
}
@media screen and (min-width: 640px) and (max-width: 767px) {
.subscribe .frm input { width:420px; }
.product-info { margin-left:160px; }
.product-box .sale { top:10px; left:174px; }
.product-box .new { top:10px; right:174px; }
.blog-post-text { padding:40px; }
.post-caption { font-size:20px; letter-spacing:6px; margin:20px 0 40px 0; }
.post-link { padding:10px 20px; }
.logo { margin-bottom:20px; }
.product-image { width:100%; text-align:center; }
.product-image img { width:100%; height:auto; }
.effect .mask { border-width:282px; }
.view a.info { width:200px; height:200px; }
.effect:hover a.info { transform:translateY(80px); }
.content-caption { margin-top:20px; }
.secondary-2 { display:none; }
.navbar-right {margin-right: -51px; margin-top: -35px;}
.navbar-right li { display: inline-block; }
.search-slide { right: 73px; top: 21px;}
}
@media screen and (min-width: 768px) and (max-width: 1003px) {
.subscribe .frm input { width:520px; }
.product-info { margin-left:40px; }
.product-box .sale { top:10px; left:50px; }
.product-box .new { top:10px; right:50px; }
.logo { margin-bottom:20px; }
.effect .mask { border-width:165px; }
.effect:hover a.info { transform:translateY(35px); }
.content-caption { margin-top:20px; }
.secondary-2 { display:none; }
.navbar-right {margin-right: -51px; margin-top: -35px;}
.search-slide { right: 73px; top: 21px;}
}
@media screen and (min-width: 1004px) and (max-width: 1259px) {
.effect .mask { border-width:101px; }
.effect:hover a.info { transform:translateY(10px); }
.search-slide { right:11px; top:48px; }
.secondary-1 { display:none; }
.navbar-right {margin-top: -90px;}
.badge { margin-top: -10px;}
}
@media screen and (min-width: 1260px) and (max-width: 1279px) {
.secondary-2 { display:none; }
.badge { margin-top: -32px;}
}
@media screen and (min-width: 1280px) and (max-width: 1365px) {
.secondary-2 { display:none; }
.badge { margin-top: -12px;}
}
@media screen and (min-width: 1366px) and (max-width: 1599px) {
.secondary-2 { display:none; }
.badge { margin-top: -32px;}
}
@media screen and (min-width: 1600px) and (max-width: 1679px) {
.secondary-2 { display:none; }
.badge { margin-top: -32px;}
}
@media screen and (min-width: 1680px) {
.secondary-2 { display:none; }
.badge { margin-top: -32px;}
}