.input-width{ 
  width: 100%;
  padding-top: 0px !important;
  padding-bottom: 0px!important;
}
.rememerme{  
  margin-top: 3px;
  position: absolute;
  padding-left: 3px;
}
.size-login-button{ width: 200px; height: 43px;}

 @media only screen and (max-width: 500px){
 	.mobile-hideview { display: none;}
	#update-cart #subtotal, #update-cart .links { width: 100% !important; float: left; text-align: left;}
	.btn { width: 100%; }
	.btn-mobile { width: 50px !important; }
	 p { padding: 0px 0 !important;}
	}
  .btn-primary { margin-bottom: 5px !important;}

 @media only screen and (max-width: 767px) and (min-width: 480px){
  .container { width: 100% !important; }
  #update-cart #subtotal, #update-cart .links { width: 100% !important; float: left; text-align: left;}
  .btn { width: 100%; }
   p { padding: 0px 0 !important;}
  .btn-primary { margin-bottom: 5px !important;}
}
.register-align{
  margin-left: 64px !important;
}
.guest-field{ width: 257px; height: 41px;}
.add-to-cart input[type="number"] {
  margin-right: 3px;
  width: 59px;
  vertical-align: middle;
  padding: 8px 10px;
  height: 44px;
}
