.input-width{ 
  width: 100%;
  padding-top: 0px !important;
  padding-bottom: 0px!important;
  border: 1px solid #dedede !important;
}
.rememerme{  
  margin-top: 3px;
  position: absolute;
  padding-left: 3px;
}
.size-login-button{ width: 200px; height: 43px;}

 @media only screen and (max-width: 500px){
 	.mobile-hideview { display: none;}
	#update-cart #subtotal, #update-cart .links { width: 100% !important; float: left; text-align: left;}
	.btn-mobile { width: 50px !important; }
	 p { padding: 0px 0 !important;}
	}
  .btn-primary { margin-bottom: 5px !important;}

 @media only screen and (max-width: 767px) and (min-width: 480px){
  .container { width: 100% !important; }
  #update-cart #subtotal, #update-cart .links { width: 100% !important; float: left; text-align: left;}
  .btn-primary { margin-bottom: 5px !important;}
}
.register-align{
  margin-left: 64px !important;
}
.guest-field{ width: 257px; height: 41px;}
.add-to-cart input[type="number"] {
  margin-right: 3px;
  width: 59px;
  vertical-align: middle;
  padding: 8px 10px;
  height: 44px;
}
.desc p {
  margin: 0px;
}
.order-detail-line-items{
  width: 100% !important;
}
.place-order-new{
  color: white !important;
  width: 140px;
  height: 44px;
  border: none;
  padding: 0px;
}
@media only screen and (max-width: 951px){
  .contact-field {width:100%; margin-bottom: 15px; margin-top: 15px;}
}
#shipping input[type="text"], #shipping input[type="email"], #shipping  input[type="tel"], #shipping  input[type="number"], #shipping  select, #shipping textarea {
    width: 100%;
}


.left_meta time {
    color: #3a3c41 !important;
    display: block;
    font-size: 18px!important;
    font-weight: 500;
    padding: 18px 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.left_meta time strong {
    display: block;
    font-size: 30px!important;
    font-weight: 800;
    line-height: 38px;
}
.left_meta {
    background-color: #fff;
    border-top: 2px solid #2389d7;
}
.comments_count {
    background-color: #e7ecee;
    display: block;
    padding: 14px 0 18px;
    text-align: center;
}

.right-contents-bl {
    border-bottom: 1px solid #dcdee4;
    overflow: hidden;
    padding-bottom: 40px;
}

.read-more-button {
    background-color: #3284c3;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-decoration: none;
}

#style_selector_1 {
background:#c52d2f;
width: 250px;
position: fixed;
right: 55px;
transition: all .5s ease;
bottom:0px;
z-index: 999999 ;
}
#style_selector_1 .style-main-title-blog {
color: #fff;
font-size: 15px;
height: 24px;
line-height: 27px;
text-align: center;

}
.contant-boxes-blog{ 
float: right;
position: fixed;
z-index: 99999;
bottom: -50px;
width: 250px;
right: 55px; 
}
.header-box-blog{
background: #c52d2f;
text-align: center;
color: #fff;
padding-top: 12px; padding-right: 18px;
padding-bottom: 9px;}
.main-bg-blog{
    background: #fff; border:solid 1px #ededed; padding: 10px;
}

.blog-bg
{
    width:100%;  ; border: none;
}


.blog-bg:hover
{
    width:100%;  ; border: none;
}

.flash, .errorExplanation {
    overflow-y: hidden;
}
.search-sorting{
  display: inline-block; 
  /*margin-top: 2px; */
  vertical-align: bottom;
}

.filter-fix input { margin:0 !important; }
.truncate-page{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.item {
    position:relative;
}
.fb-custom span { width: 324px !important;}
.fb-custom span iframe { width: 342px !important;}
#shipping_method table { width: 100%;}
#shipping_method table th { text-align: center;}
.stock-location {padding: 10px 0;}
.stock-location strong {margin-left: 0px !important; display: inline-block;}
.stock-shipping-method-title {padding: 10px 0;}
#shipping_method .shipping-methods .shipping-method { display: inline-block; margin: 8px 56px 5px 0 !important;}
.rate-name { font-weight: normal !important; }
.rate-cost { color: #999 !important; font-weight: normal !important;}
#shipping_method table.stock-contents thead th { padding: 9px; }
#shipping_method .stock-location { text-align: left !important;  padding-left: 20px;}
#shipping_method .stock-shipping-method-title { text-align: left !important; padding-left: 20px;}
#shipping_method .shipping-methods {margin-left: 20px !important;}
table tbody tr, table tfoot tr { border-bottom: 1px solid #eee !important;}
#checkout-summary td strong { margin-left: 0px !important;}
#checkout-summary .container {padding-bottom: 31px;}
