.home-slider .slide-content .slider-button {
background-color: #2389d7 !important;
}
.blue-color {
color: #2389d7 !important;
}

.home-features .icon-wrapper .fa-custom {
font-size: 60px;
color: #3284c3 !important;
}

.btn-products {
border: solid 1px #3284C2 !important;
background: #3284C2 !important;
}


.btn-products:hover {
border: solid 1px #3284C2 !important;
background: #1873b9 !important;

}


#main-footer {
background-color: #1c1c1c !important;
}

.nav-bg {
background: #313131 !important;
}
nav.main-menu ul > li:hover > a, nav.main-menu ul > .current-menu-item > a {
background-color: #2d2d2d !important;
color: #fff;
}

#cart i {
background: #1c8adf !important;}
#zo2-position-0 .wishlist a span, #zo2-position-0 .compare a span {
background-color: #3c9ae2 !important;} 

.overlay {
background: url("/assets/5/for-expand-mirror.png") center center no-repeat #3284c3;}


a:hover, a:focus {
color: #1c8adf !important;
text-decoration: none !important;
} 