<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @promotion } %>

  <div class='alpha six columns'>
    <%= f.field_container :name do %>
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'form-control' %>
    <% end %>
  </div>
