 <aside  data-hook="" class="four columns"> <br>
          <nav class="menu">
            <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
              <li class="active" ><a href="#">Templates</a></li>
              <li ><a href="/admin/templates/<%=@selected_template.id
%>/edit">Themes</a></li>
              <li ><a href="/admin/slider_images">Sliders</a></li>
            </ul>
          </nav>
        </aside>