<%=render :partial=>'spree/shared/setting_sub_nav_tab'%>
<div id="content-header" data-hook="">
    <div class="container">
      <div class="sixteen columns">
        <div class="block-table">
          <div class="table-cell">
            <h1 class="page-title ">Templates</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="with-sidebar " >
        <div class="twelve columns"> <br>
         
<hr />



  <div class="row">
        <div class="alpha ">
        <%Spree::Template.all.sort_by(&:template_no).each do |temp|%>
        <a href="/admin/templates/<%=temp.id
%>/edit"><div class="two column" style="margin-bottom:10px;"> <img src="/assets/<%= temp.template_no%>/a.jpg" class="" /></div></a>
<%end%>
            
          </div>
       
      </div>


        </div>
       
 <aside  data-hook="" class="four columns"> <br>
          <nav class="menu">
            <ul class="sidebar" data-hook="admin_configurations_sidebar_menu">
              <li class="active" ><a href="/admin/templates">Templates</a></li>
              <li ><a href="/admin/templates/<%=@selected_template.id
%>/edit">Themes</a></li>
              <li ><a href="/admin/slider_images">Sliders</a></li>
            </ul>
          </nav>
        </aside>