 <% content_for :page_title do %>
  Templates
 <% end %>
 <div class="row">
   <div class="col-md-9" style="background-color: #fff;">
    <%Spree::Template.all.sort_by(&:template_no).each do |temp|%>
    <a href="/admin/templates/<%=temp.id%>/edit">
      <div class="col-md-4" style="margin-bottom:10px; margin-top: 10px;"> 
        <img src="/assets/<%= temp.template_no%>/a.jpg" class="" />
      </div>
    </a>
    <%end%>
  </div>
    <%=render :partial=>'/spree/admin/templates/side_bar_template'%>
</div>
