.pager {
    margin: 0px !important;
}
.select2-container:hover .select2-choice, .select2-container.select2-container-active .select2-choice {
   background-color: #5498da !important; 
   border-color: #5498da !important; 
}
.select2-container .select2-choice .select2-arrow {
  background-image: none;
  background-color: #fff !important;
  border-left: 1px solid #fff !important;
}
@media (min-width: 992px) {
.page-content-wrapper .page-content {
  margin-left: 252px !important;
}
}
.green {
   color: #333 !important; 
}
.red{
	color: #333 !important;
}
.blue {
  color: #333 !important;
}
table th a, table td a {
   border-bottom: 1px dotted #7eb1e3; 
   color: #333 !important;
}
.portlet.box.green {
	margin: 10px;
}
.pagination .page.current {
  background-color: #9EA098 !important;
}
.portlet > .portlet-title > .tools > a.expand {
  background-image: url(../img/portlet-expand-icon.png) !important;
  color: #fff !important;
}
.portlet > .portlet-title > .tools > a.collapse {
  background-image: url(../img/portlet-collapse-icon.png) !important;
  color: #fff !important;
}
.row {
   margin-bottom: 0px; 
}
input[type="text"]:focus{
  border-color: #999;
}
.select2-container .select2-choice {
  background-image: none !important;
  background-color: #fff;
  color: #000 !important;
  border: solid 1px #999 !important;
}
.select2-container:hover .select2-choice, .select2-container.select2-container-active .select2-choice {
  background-color: #fff !important;
  border-color: #fff !important;
  border: solid 1px #999 !important;
}
#content{
  background-color: #E9ECF3;
}
input[type="text"]{
border: 1px solid #E5E5E5;
color: #333;
}
label {
  color: #333;
}
a:visited {
  color: #fff;
}
.page a:visited {
  color: #333;
}
.button:hover {
  background-color: #2386ca;
  color: white;
}
.page-head .page-title > h1 a { 
color: #697882;
}
table th.actions [class*='fa-'].no-text:before, table td.actions [class*='fa-'].no-text:before{
  margin-left: 3px;
}
fieldset legend {
  color: #333;
  }
.order-total {
  color: #333 !important;
}
input[type="email"]:focus {
    border-color: #333 !important;
}
input[type="tel"]:focus {
    border-color: #333 !important;
}
legend.stock-location .shipment-number {
  color: #333 !important;
}
legend.stock-location .stock-location-name {
  color: #333 !important;
}
.page-title i {
  color: #5498DA;
}
input.btn.blue.margin-btn-adjustment{
  margin-top: 8px;
}
.outstanding-balance strong {
  color: #333 !important;
}
.pagination a:visited {
  color: #333 !important;
}
textarea:focus, fieldset:focus {
  border-color: #333 !important;
}
input[type="number"]:focus{
  border-color: #333 !important;
}
.filter_list {
  overflow: hidden;
}
.select2-container-multi .select2-choices .select2-search-choice{
  color: #333 !important;
}
.page-footer {
  background-color: #fff;
  height: 180px !important;
}
#new_state{
  margin-bottom: 30px;
}
.select-country-state{
  margin-bottom: 15px;
}
input[type="password"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="number"]:focus, input[type="tel"]:focus, textarea:focus, fieldset:focus {
  outline: none;
  border-color: #333 !important;
}
#sidebar {
  border-top: none !important;
}
table td.actions .fa-ok:hover, table td.actions .fa-plus:hover, table td.actions .fa-save:hover {
  background-color: #169EF4 !important;
}
.margin-option-types{
  margin-left: 15px;
}
.toast-info, .toast-success, .toast-error {
  margin-top: 70px !important;
}
.remove-group span a:hover { color: #fff !important; text-decoration:none;}
.remove-group span a { color: #fff !important; text-decoration:none;}
.add-address a:hover {text-decoration:none;}
.template_variant_display  .checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
  left: 17px !important;
}