<% content_for :page_title do %>
Promotion Emails
<% end %>
<% content_for :page_actions do %>
<li >
  <%= link_to new_admin_promotion_email_path, class: 'btn blue', icon: "plus" do %><i class="fa fa-plus"></i>Add Template
  <% end %>
</li>
<% end%>
