<div style="padding-top: 90px;" id="wrapper"> 
    
    <!-- REVOLUTION SLIDER -->
    <div class="fullwidthbanner-container roundedcorners" style="overflow: visible;">
      <div class="fullwidthbanner revslider-initialised tp-simpleresponsive" style="max-height: 500px; height: 447px; perspective: 2500px; backface-visibility: hidden; transform-style: preserve-3d;" id="revslider-366">
        <ul style="display: block; overflow: hidden; width: 100%; height: 100%; max-height: none;" class="tp-revslider-mainul">
          
          <!-- SLIDE  -->
          <li data-masterspeed="1500" data-slotamount="7" data-transition="fade" class="tp-revslider-slidesli active-revslide current-sr-slide-visible" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1;"> 
            <%@selected_template.spree_slider_images.each do |image| %>
            <!-- COVER IMAGE --> 
            <div data-oheight="undefined" data-owidth="undefined" data-bgfitend="undefined" data-bgfit="cover" data-easeme="undefined" data-kenburns="undefined" data-bgposition="left top" data-bgpositionend="undefined" data-ease="undefined" data-rotationend="undefined" data-rotationstart="undefined" data-zoomend="undefined" data-zoomstart="undefined" data-duration="undefined" style="width:100%;height:100%;" class="slotholder"><div style="background-color: transparent; background-repeat: no-repeat; background-image: url(&quot;<%= image.slider_image.url(:xlarge)%>&quot;); background-size: cover; background-position: left top; width: 100%; height: 100%; opacity: 1; visibility: inherit;" data-src="<%= image.slider_image.url(:xlarge)%>" src="<%= image.slider_image.url(:xlarge)%>" data-lazydone="undefined" data-bgrepeat="no-repeat" data-bgposition="left top" data-bgfit="cover" data-lazyload="undefined" class="tp-bgimg defaultimg"></div></div> 
            
            <!-- LAYER NR. 3 -->
            <div style="z-index: 4; min-height: 0px; min-width: 0px; line-height: 54px; border-width: 0px; margin: 0px; padding: 1px 4px 0px; letter-spacing: 0px; font-size: 54px; left: 72.03px; top: 59.004px; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px);" data-captionhidden="off" data-endeasing="Power4.easeIn" data-endspeed="500" data-easing="Back.easeOut" data-start="800" data-speed="500" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-y="66" data-x="80" class="tp-caption large_bold_grey skewfromrightshort customout start">Powerful </div>
            
            <!-- LAYER NR. 4 -->
            <div style="z-index: 7; min-height: 0px; min-width: 0px; line-height: 54px; border-width: 0px; margin: 0px; padding: 1px 4px 0px; letter-spacing: 0px; font-size: 54px; left: 72.03px; top: 109.068px; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px);" data-captionhidden="off" data-endeasing="Power4.easeIn" data-endspeed="500" data-easing="Back.easeOut" data-start="1100" data-speed="300" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-y="122" data-x="80" class="tp-caption large_bold_grey skewfromleftshort customout start">Red Point Commerce </div>
            
            <!-- LAYER NR. 5 -->
            <div style="z-index: 8; min-height: 0px; min-width: 0px; line-height: 23px; border-width: 0px; margin: 0px; padding: 1px 4px 0px; letter-spacing: 0px; font-size: 16px; left: 72.03px; top: 205.62px; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px); transform-origin: 0% 0% 0px;" data-captionhidden="off" data-endeasing="Power4.easeIn" data-endspeed="500" data-easing="Power4.easeOut" data-start="1300" data-speed="500" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;" data-y="230" data-x="80" class="tp-caption small_thin_grey customin customout start"> Lorem Ipsum is simply dummy text of 
              the printing and typesetting industry.<br>
              Lorem Ipsum has been unknown.<br>
            </div>
            
            <!-- LAYER NR. 6 -->
            <div style="z-index: 10; min-height: 0px; min-width: 0px; line-height: 54px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 52px; left: 72.03px; top: 312.9px; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px);" data-captionhidden="off" data-endeasing="Power4.easeIn" data-endspeed="500" data-easing="Back.easeOut" data-start="1600" data-speed="500" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-y="350" data-hoffset="-90" data-x="80" class="tp-caption large_bold_darkblue skewfromleftshort customout start">110+ </div>
            
            <!-- LAYER NR. 7 -->
            <div style="z-index: 11; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 0px; margin: 0px; padding: 9px; letter-spacing: 0px; font-size: 18px; left: 72.03px; top: 366.54px; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px);" data-captionhidden="off" data-endeasing="Power4.easeIn" data-endspeed="500" data-easing="Back.easeOut" data-start="1650" data-speed="500" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-y="410" data-hoffset="-90" data-x="80" class="tp-caption medium_bg_darkblue skewfromleftshort customout start">Free</div>
            <div style="z-index: 13; min-height: 0px; min-width: 0px; line-height: 27px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-size: 21px; left: 206.13px; top: 330.78px; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px);" data-captionhidden="off" data-endeasing="Power4.easeIn" data-endspeed="500" data-easing="Back.easeOut" data-start="1850" data-speed="500" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-y="370" data-hoffset="-90" data-x="230" class="tp-caption medium_bold_orange skewfromleftshort customout start font300">Lorem <strong>Ipsum</strong> </div>
            
            <!-- LAYER NR. 8 -->
            <div style="z-index: 21; min-height: 0px; min-width: 0px; line-height: 18px; border-width: 0px; margin: 0px; padding: 9px; letter-spacing: 0px; font-size: 18px; left: 206.13px; top: 366.54px; visibility: visible; opacity: 1; transform: translate3d(0px, 0px, 0px);" data-captionhidden="off" data-endeasing="Power4.easeIn" data-endspeed="500" data-easing="Back.easeOut" data-start="2300" data-speed="500" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-y="410" data-hoffset="-90" data-x="230" class="tp-caption medium_bg_orange skewfromleftshort customout start">Read More </div>
          </li>
          
          <%end%>
        </ul>
        <div class="tp-bannertimer" style="width: 98.6556%; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div>
      <div class="tp-loader spinner0" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div></div>
    <div class="tp-bannershadow tp-shadow1" style="width: 1047px; left: 0px;"></div><div class="tp-bullets simplebullets round hidebullets" style="bottom: 0px; left: 50%; margin-left: -36px;"><div class="bullet first selected"></div><div class="bullet"></div><div class="bullet last"></div><div class="tpclear"></div></div><div class="tp-leftarrow tparrows default round hidearrows" style="position: absolute; top: 223px; margin-top: -20px; left: 20px;"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;assets/2/demo/revolution_slider/church_parallax.jpg&quot;);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder"></div><div class="tp-arr-subtitleholder"></div></div></div></div><div class="tp-rightarrow tparrows default round hidearrows" style="position: absolute; top: 223px; margin-top: -20px; right: 20px;"><div class="tp-arr-allwrapper"><div class="tp-arr-iwrapper"><div class="tp-arr-imgholder" style="visibility: inherit; opacity: 1; background-image: url(&quot;assets/2/demo/revolution_slider/slider7.jpg&quot;);"></div><div class="tp-arr-imgholder2"></div><div class="tp-arr-titleholder"></div><div class="tp-arr-subtitleholder"></div></div></div></div></div>
    <!-- /REVOLUTION SLIDER -->
    
    <div class="container"> </div>
    
    <!-- FEATURED BOXES 3 -->
    <section class="container topHead-">
      <div class="row">
        <div class="col-md-3">
          <div class="featured-box nobg border-only border-dot">
            <div class="box-content"> <img width="56" height="40" src="assets/2/icon/eye.png">
              <h4>Unique Design</h4>
              <hr>
              <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <span class="pink-text"><a href="#">Read More...</a></span> </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box nobg border-only left-separator border-dot"> <img width="56" height="40" src="assets/2/icon/gal.png">
            <h4>Photo Gallery</h4>
            <hr>
            <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="pink-text"><a href="#">Read More...</a></span> </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box nobg border-only left-separator border-dot"> <img width="56" height="40" src="assets/2/icon/cal.png">
            <h4>Appointment System</h4>
            <hr>
            <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="pink-text"><a href="#">Read More...</a></span> </div>
        </div>
        <div class="col-md-3">
          <div class="featured-box nobg border-only left-separator border-dot"> <img width="56" height="40" src="assets/2/icon/emo.png">
            <h4>Custim Service Page</h4>
            <hr>
            <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <span class="pink-text"><a href="#">Read More...</a></span> </div>
        </div>
      </div>
    </section>
    <!-- /FEATURED BOXES 3 -->
    
    <div class="container">
      <hr class="no-lines">
      <!-- hr line --> 
    </div>
    
    <!-- CAROUSEL -->
    <section style="margin-top:5%" class="container">
      <div class="row">
        <h3 class="text-center">Our Most Popular Services</h3>
        <hr>
          <%= render :partial => "/spree/shared/#{@selected_template.template_no}/products", :locals => { :products => @products, :taxon => @taxon } %>
  
      </div>
    </section>
    <section style="margin-top:5%" class="container">
      <div class="row">
        <h3 class="text-center">Our Most Popular Staff</h3>
        <hr>
        <div class="col-md-3">
          <div class="gallery-img"> <img class="img-responsive" src="assets/2/img-gallery/gir-1.jpg">
            <div class="text-center">
              <h4>Volet Hope</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-img"> <img class="img-responsive" src="assets/2/img-gallery/gir-2.jpg">
            <div class="text-center">
              <h4>Piper Anne</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-img"> <img class="img-responsive" src="assets/2/img-gallery/gir-3.jpg">
            <div class="text-center">
              <h4>Kylie Savannah</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-img"> <img class="img-responsive" src="assets/2/img-gallery/gir-4.jpg">
            <div class="text-center">
              <h4>Cora Scarlett</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section style="margin-top:5%" class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class=" border-footer">
            <div class="col-lg-9"> <span style="">
              <h4>We are waiting for you. lease make an Appointment here</h4>
              </span></div>
            <div style="text-align:right" class="col-lg-3 pull-right"><a href="#" class="btn btn-primary btn-lg">Appointment</a></div>
          </div>
        </div>
      </div>
    </section>
  </div>