<div class="portlet box blue col-md-9">
   <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i> Images
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
<%= form_for @template_images, url: {action: "create"} , :html => { :multipart => true } do |f| %>
<div class="form-body">

  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name"> Upload Image</label> ( Please upload images of size approx. 409x222 )<p>You can upload max 3 images</p>
    <br>
    <%= f.file_field :avatar ,  class: "fullwidth",  multiple: true, :required => true%>
  </div>
  <%=f.hidden_field :template_id , value: @selected_template.try(:id)%>
</div>
  <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
    <a class="btn blue " href="javascript:void(0)" onclick="window.history.back();"><span class="text" >Back</span></a>
    <span class="or">or</span>
    <button type="submit" class="btn blue">Save</button>
  </div>
<%end%>
</div>
</div>