<% content_for :page_title do %>
  Template Images
<% end %>

        <div class="col-md-9"> 
         
<% if @selected_template.template_images.first%>
  <img src="<%= @selected_template.template_images.first.avatar.url(:home_image)%>">
  <img src="<%= @selected_template.template_images.second.avatar.url(:home_image)%>">
  <img src="<%= @selected_template.template_images.third.avatar.url(:home_image)%>">
<% end %>
</div>
    <%=render :partial=>'/spree/admin/templates/side_bar_template'%>
