<header id="header" data-hook>
  <div class="container">

    <figure data-hook="logo-wrapper" class="columns five">
      <a class="navbar-brand" href="/admin">
        <div class="logo">
          <img src="/assets/backend-logo.png" width="240" height="75"> </div>	
      </a><!-- /.navbar-brand -->
<%#= link_to image_tag(Spree::Config[:admin_interface_logo], :id => 'logo'), spree.admin_path %>
    </figure>

    <nav data-hook="admin_login_navigation_bar" class="columns eleven"></nav>
  </div>
</header>
