<style>
  #sub-menu {
    background-color: #000;
    padding-bottom: 0;
  }
  #sub-menu li.selected a:after, #sub-menu li a:hover:after, #sub-menu #admin-menu li.selected a:after, #admin-menu #sub-menu li.selected a:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #000;
    bottom: 0px;
    margin-bottom: -5px;
    left: 50%;
    margin-left: -10px;
    z-index: 1;
  }
</style>
<% if content_for?(:sub_menu) %>
  <nav id="sub-menu" data-hook>
    <div class="container">
      <div class="sixteen columns">
        <%= yield :sub_menu %>
      </div>
    </div>
  </nav>
<% end %>
