<% if content_for?(:table_filter) %>
  <div id="table-filter" data-hook class="">
    <!-- <fieldset> -->
      <h4 align="center"><%= yield :table_filter_title %></h4>
      <%= yield :table_filter %>
    <!-- </fieldset> -->
  </div>
<% end %>
