<div class="header-top clearfix">
  <div class="container">
    <div class="row">
       <div class="col-md-12  ">
       <div class="col-lg-6"> <a href="#">Login <i class="fa fa-key"></i></a> | <a href="#">Registration <i class="fa fa-users"></i></a> | <a href="#">Cart <i class="fa fa-shopping-cart"></i></a> </div>
        <div class="col-lg-6"></div>
       <div class="pull-right">
        <div id="cart"> <span class="total-price"><input type="text" placeholder="Search" class="border-search" ></span><a href="#"><i class="fa fa-search"></i></a> </div>
      </div>
      </div>
    </div>
  </div>
</div>
<header id="header">
  <div class="container">
  <!-- Website Logo -->
  <div class="logo clearfix"> <a href="index.html"> <img src="<%= Spree::Logo.last.avatar.url(:logo)%>" alt=""> </a> </div>
  <div class=" pull-right ipad-left " style="margin-top:2%;">
    <div id="zo2-position-0" class="">
      <!-- Virtuemart 2 Ajax Card -->
      <div id="zt_top_cart" class="">
        <div id="cart"><a href="#"><i class="fa fa-shopping-cart"></i><span class="total-item">(0)items - </span></a> <span class="total-price">$0.00</span> </div>
      </div>
    </div>
    <!-- Main Navigation --> 
  </div>
  <div id="responsive-menu-container"></div>
</div></header>
<div style="clear:both"  ></div>
<div class="clearfix"  >
  <div class="nav-bg">
    <div class="container">
      <nav class="main-menu">
        <ul class="header-nav clearfix" id="menu-main-menu">
          <li class="current-menu-item page_item"> <a href="/">Home</a> </li>
          <li> <a href="/products">Doctors</a> </li>
          <li> <a href="#">News</a> </li>
          <li> <a href="#">Services</a> </li>
          <li> <a href="#">Gallery</a> </li>
           <li> <a href="#">Appointment</a> </li>
          <li> <a href="#">Contact</a> </li>
        </ul>
      </nav>
    </div>
  </div>
</div>