    <!-- RELATED -->
              <h3><strong>Related</strong> Products</h3>
              <div class="row">
             <!-- item -->
                  <%@simlier_product.each do |p|%>
                   <div class="col-sm-6 col-md-3">
                   <% url = product_path(p) %>
              <div class="item-box">
                <figure>
                  <a class="item-hover" href="<%=url%>">
                    <span class="overlay color2"></span>
                    <span class="inner">
                    </span>
                  </a>
                 
                  <%= link_to product_image(p, :itemprop => "image", :class => "img-responsive",:style=>"width:100%;" )%>

                  <div class="btn btn-primary add_to_cart btn-space" style="width:100%"><i class="fa fa-shopping-cart"></i> ADD TO CART</div>
                </figure>
                <div class="item-box-desc text-align-center">
                  <h4><%=p.name%></h4>
                  <small class="styleColor"><span>$<%=p.price%></span></small>
                </div>
              </div>
              </div>
            <%end%>
              
              <!-- /RELATED -->
              </div>