
[data-hook="admin_login_navigation_bar"] ul li :hover { color:#888}
user-logout-link:hober{ color:000;}
[data-hook="admin_login_navigation_bar"] ul li[data-hook="user-logged-in-as"] {
    width: 50%;
    color: #000;
}

[data-hook="admin_login_navigation_bar"] ul li {
    padding: 5px 0 5px 10px;
    text-align: right;
    font-size: 90%;
    color: #000;
    margin-top: 8px;
}
a {
    color: #000;
    text-decoration: none;
    line-height: inherit;
}
a:visited {
    color: #000;
}
a:visited:hover {
    color: #888;
}

.white_color {
 color: white !important;
 font-weight: bold;
}



#admin-menu {
    background-color: #2b2b2b;
}
#admin-menu li a:hover, #admin-menu li.selected a {
    background-color: #000;
}
#admin-menu li a:hover:after, #admin-menu li.selected a:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #000;
    bottom: 0px;
    margin-bottom: -5px;
    left: 50%;
    margin-left: -10px;
    z-index: 1;
}



#sub-menu {
    background-color: #000;
    padding-bottom: 0;
}
#sub-menu li.selected a:after, #sub-menu li a:hover:after, #sub-menu #admin-menu li.selected a:after, #admin-menu #sub-menu li.selected a:after {
    content: '';
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #000;
    bottom: 0px;
    margin-bottom: -5px;
    left: 50%;
    margin-left: -10px;
    z-index: 1;
}





h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: #000;
    line-height: 1.1;
}
#content-header {
    background-color: #dedede;
    border-bottom: 0px solid #717176;
    padding: 15px 0;
}
/*input[type="submit"]:hover, input[type="button"]:hover, button:hover, .button:hover {
    background-color: #000;
    color: white;
}
*/input[type="submit"], input[type="button"], button, .button {

    background-color: #000 !important;
    color: white !important;}

.button:hover {

    background-color: #000 !important;
    color: white !important;

}

.select2-container .select2-choice {
    background-image: none !important;
    background-color: #717176;

    color: white !important;

}

.select2-container:hover .select2-choice, .select2-container.select2-container-active .select2-choice {
    background-color: #000 !important;
    border-color: #000 !important;
}
.select2-drop {
    box-shadow: none !important;
    z-index: 1000000;
    max-width: auto !important;
    border-top: 1px solid;
    border-color: #000;
}
table tbody tr.state-complete td:first-child {
    border-left-color: #717176;
}
fieldset legend {
    background-color: white;
    color: #717176;
}
fieldset label {
    color: #000;
}
input[type="text"], .select2-search input, .select2-container-multi .select2-choices, input[type="password"], input[type="email"], input[type="date"], input[type="datetime"], input[type="time"], input[type="url"], input[type="number"], input[type="tel"], textarea {

    color: #000;
}

.pagination .page.current {
    background-color: #dedede;
    border-radius: 3px;
    color: white;
}
table thead th {
    background-color: #eff5fc;
    border-bottom: medium none;
    border-top: 1px solid #cee1f4;
    font-size: 85%;
    font-weight: 600;
    color:#000;
    padding: 10px;
    text-transform: uppercase;
}

table th, table td {
    border-bottom: 1px solid #cee1f4;
    border-right: 1px solid #cee1f4;
    padding: 7px 5px;
    color: #000;
    text-overflow: ellipsis;
    vertical-align: middle;
}

#sidebar .sidebar-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}



label {
    color: #717176;
    display: inline;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    text-transform: uppercase;
}

input[type="text"], .select2-search input, .select2-container-multi .select2-choices, input[type="password"], input[type="email"], input[type="date"], input[type="datetime"], input[type="time"], input[type="url"], input[type="number"], input[type="tel"], textarea{
    border: 1px solid #dedede;
    border-radius: 3px;
    color: #000;
    font-size: 90%;
    padding: 7px 10px;
}
input[type="text"]:focus, .select2-search input:focus, .select2-container-multi .select2-choices:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="number"]:focus, input[type="tel"]:focus, textarea:focus{
    border-color: #717176;
    outline: medium none;
}

.center-login {
    width: 300px;
    background: #f8f8f8;
    margin: auto;
    margin-top: 5%;
    text-align: center;
    padding: 30px;
    border: solid 1px #dedede;
    border-radius: 11px;   
}
.field-width {
    width: 100%;
}
.remeber-me {
    padding-top: 5px !important;
}
.select2-container-multi .select2-choices .select2-search-choice {

    background-color: #666666;

}
.select2-container-multi .select2-choices .select2-search-choice:hover {
    background-color: #333;

}
span {
    color: #717176
}

nav.menu ul li.active a {
    color: #717174;
    border-left-width: 0;
    border-bottom-color: #000;
}
nav.menu ul li:hover a {
    color: #000;
}
select2-match {
    background-color: #987777 !important;    
}
.select2-results .select2-highlighted {
    background-color: #717176 !important;
}

.select2-search {
    color: #888;
}

.select2-container .select2-choice > .select2-chosen {
    color: #fff;
}
fieldset {
    color: #555;
    border-color: #dedede;
}
.add-page{
    margin-right: -110px;
}
.white-text  a { color:#fff !important; font-size: 12px !important; width: 200px !important; }
.fa-minus{
    width: 200px;
}
.fa-plus{
    width: 200px;
}
.remove-border
{
    padding: 8px 8px !important;
}
.center-product-csv{
   text-align: center;
}
/*.category-wrapper{ width: 300px; height: 200px;}*/
#admin-menu li a {
    display: block;
    padding: 25px 4px;
    color: white !important;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding-right: 10px;
}
input[type="submit"], input[type="button"], button, .button {
    background-color: #000 !important;
    color: white !important;
    text-align: center;
}
.pagination-new > li > a:hover, .pagination-new > li > span:hover, .pagination-new > li > a:focus, .pagination-new > li > span:focus {
    text-decoration: none;
    color: #000;
}
.pagination-new .current {
  height: 33px !important;
}
span.page.current:hover {
    text-decoration: none;
    background: #000 !important;
}