<% content_for :page_title do %>
  <%= Spree.t(:taxons) %>
<% end %>
<div class="portlet light">
<div class="portlet-body form">
<% content_for :table_filter_title do %>
<label>Choose a category to sort product for</label>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_orders_index_search" class="columns six">
    <input type='text' id='taxon_id' />
  </div>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<span id='sorting_explanation' style='display:none'><%= Spree.t(:click_and_drag_on_the_products_to_sort_them) %></span>
<div class="text-center">
<ul id='taxon_products' class="list-unstyled list-inline"></ul>
</div>
</div>
</div>

<%= render :partial => "spree/admin/products/autocomplete", :formats => :js %>

