<div class="portlet box blue">
   <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i> New Api User
    </div>
    <div class="tools">
      <a href="" class="collapse" data-original-title="" title="">
      </a>
    </div>
  </div>
  <div class="portlet-body form">
 <%= form_for @api_user, url: {action: "create"} do |f| %>
 <div class="form-body">

   <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">User Name *</label>
    <br>
    <%= f.text_field :name, class: "fullwidth" %>
  </div>
  <div class="field" data-hook="admin_general_setting_input_name">
    <label for="store_name">User Email *</label>
    <br>
    <%= f.text_field :email, type: "email", class: "fullwidth" %>
  </div>
</div>
  <div class="form-buttons filter-actions actions form-actions" data-hook="buttons">
   <a class="btn blue " href="javascript:void(0)" onclick="window.history.back();"><span class="text" >Back</span></a>
   <span class="or">or</span>
   <button type="submit" class="btn blue">Save</button>
 </div>
 <% end %>
 </div>
 </div>
