<% content_for :page_title do %>
Api Users
<% end %>
<% content_for :page_actions do %>
<li >
  <%= link_to new_admin_api_user_path, class: 'btn blue', icon: "plus" do %><i class="fa fa-plus"></i>Create User
  <% end %>
</li>
<% end%>