<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	
<!-- ============================================== INFO BOXES ============================================== -->
<footer>

  <!-- ============================================== INFO BOXES : END ============================================== -->	
  <div class="links-social">
    <div class="container-class container">
      <div class="links-social-inner">
        <div class="">
          <div class="col-md-8">
            <!-- ============================================== LINK GROUPS ============================================== -->
            <div class="link-groups">
              <div class="">
                <div class="col-sm-4">
                  <div class="links">
                    <h3 class="title">SHOP</h3>
                    <ul>
                      <li><a href="/products">Products</a></li>
                      <li><a href="/cart">My Cart</a></li>
                      <% if spree_user_signed_in? %>
                        <li><a href="/account">My Account</a></li>
                      <% end %>
                    </ul>
                  </div>
                </div><!-- /.col -->

                <div class="col-sm-4">
                  <div class="links">
                    <h3 class="title">HELP</h3>
                    <ul>
                      <li><a href="/aboutus">About Us</a></li>   
                      <li><a href="/contactus">Contact Us</a></li>   
                      <li><a href="/faq">FAQ's</a></li>   
                    </ul>
                  </div>
                </div><!-- /.col -->

                <div class="col-sm-4">
                  <div class="links">
                    <h3 class="title">PAYMENT METHODS</h3>
                    <ul>
                      <li><a href="#">Credit Card &nbsp; &nbsp;<i class="fa fa-credit-card"></i></a></li>
                      <li><a href="#">PayPal &nbsp; &nbsp;<i class="fa fa-cc-paypal"></i></a></li>

                    </ul>
                  </div>
                </div><!-- /.col -->


              </div><!-- /.row -->
            </div><!-- /.link-groups -->
            <!-- ============================================== LINK GROUPS : END ============================================== -->					</div><!-- /.col -->

          <div class="col-md-4">
            <!-- ============================================== SOCIAL-NEWSLETTER ============================================== -->
            <div class="social-newsletter">
              <div class="social-links">
                <h3 class="title">CONNECT WITH US</h3>
                <ul class="social list-inline list-unstyled">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
              </div><!-- /.social-links -->


            </div><!-- /.social-newsletter -->
            <!-- ============================================== SOCIAL-NEWSLETTER : END ============================================== -->					</div><!-- /.col-md-4 -->
        </div><!-- /.row -->
      </div><!-- /.links-social-inner-->
    </div><!-- /.container -->
  </div><!-- /.links-social -->

  <div class="copyright">
    <div class="container">
      <div class="pull-left">
        Copyright &copy; <a href="#">Redpoint Commerce</a> | All Rights Reserved.
      </div>
      <div class="pull-right">
        <a href="/termsandconditions">Terms & conditions</a>
        &nbsp; &nbsp;&nbsp;
        <a href="/privacypolicy">Privacy Policy</a>

      </div>

    </div>
  </div>

</footer>
<!-- ============================================== FOOTER : END ============================================== -->

<script type="text/javascript" src="/assets/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery-ui.custom.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/echo.min.js"></script>
<script type="text/javascript" src="/assets/jquery.rateit.min.js"></script>
<script type="text/javascript" src="/assets/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/assets/jquery.fitvids.js"></script>
<script type="text/javascript" src="/assets/lightbox.min.js"></script>
<script type="text/javascript" src="/assets/wow.min.js"></script>
<script type="text/javascript" src="/assets/scripts.js"></script>

<script>
  echo.init({
    offset: 100,
    throttle: 250,
    unload: false
  });
</script>

<!-- For demo purposes – can be removed on production -->

<script src="switchstylesheet/switchstylesheet.js"></script>

<script>
  $(document).ready(function() {
    $(".changecolor").switchstylesheet({seperator: "color"});
    $('.show-theme-options').click(function() {
      $(this).parent().toggleClass('open');
      return false;
    });
  });

  $(window).bind("load", function() {
    $('.show-theme-options').delay(2000).trigger('click');
  });


  $(".error-messages").show().delay(10000).fadeOut();
  $(".alert").show().delay(10000).fadeOut();
  $(".flash success").show().delay(10000).fadeOut();
  $(".flash").show().delay(10000).fadeOut();
  $(".errorExplanation").show().delay(10000).fadeOut();
  $(".error").show().delay(10000).fadeOut();


</script>
<!-- For demo purposes – can be removed on production : End -->
