<header class="header-style-1">
<%#*<header id="header" class="row" data-hook >%>
<%#*<div style="margin: 40px;">%>
<%#*<figure id="logo" class="columns six" data-hook><%= logo %>
<%#*</figure>%>
<%#= render :partial => 'spree/shared/nav_bar' %>
<%#= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
<%#*</div>%>
<%#*</header>%>

  <!-- ============================================== TOP MENU ============================================== -->
  <div class="header-top animate-dropdown">
    <div class="container">
      <div class="header-top-inner">
        <div class="cnt-account">
          <ul class="list-unstyled list-inline">
<%#*<li><a href="#">My Account</a></li>%>
<%#*<li><a href="#">Wishlist</a></li>%>
            <li><a href="/cart">My Cart</a></li>
            <li><a href="/checkout">Checkout</a></li>
            <% if spree_user_signed_in? %>
              <li><a href="/account">My Account</a></li>
              <li> <%=  link_to 'Sign Out', spree_logout_path %></li>
  <%#*<li><a href="">Sign Out</a></li>%>
            <% else %>
              <li><a href="/login">Login</a></li>
            <% end %>
          </ul>
        </div><!-- /.cnt-account -->

        <div class="cnt-cart">
          <ul class="list-unstyled list-inline">
            <li class="dropdown dropdown-small">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;</a>
<%#*<ul class="dropdown-menu">%>
<%#*<li><a href="#">English</a></li>%>
<%#*<li><a href="#">French</a></li>%>
<%#*<li><a href="#">German</a></li>%>
<%#*</ul>%>
            </li>

            <li class="dropdown dropdown-small">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp;</a>
<%#*<ul class="dropdown-menu">%>
<%#*<li><a href="#">USD</a></li>%>
<%#*<li><a href="#">INR</a></li>%>
<%#*<li><a href="#">GBP</a></li>%>
<%#*</ul>%>
            </li>
            <li class="dropdown dropdown-cart">
<%#*<a href="#" class="dropdown-toggle lnk-cart btn btn-blue btn-small" data-toggle="dropdown">Cart 02</a>%>

              <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
<%#*<ul class="dropdown-menu">%>
<%#*<li>%>
<%#*<div class="cart-item product-summary">%>
<%#*<div class="row">%>
<%#*<div class="col-xs-4">%>
<%#*<div class="image">%>
<%#*<img src="/assets/products/1.jpg" alt="">%>
<%#*</div>%>
<%#*</div>%>
<%#*<div class="col-xs-7">%>
<%#*<a href="#"><h3 class="name">Habace Dress Style</h3></a>%>
<%#*<div class="rating rateit-small"></div>%>
<%#*<div class="price">$360.00</div>%>
<%#*</div>%>
<%#*<div class="col-xs-1 action">%>
<%#*<a href="#"><i class="fa fa-remove"></i></a>%>
<%#*</div>%>
<%#*</div>%>
<%#*</div><!-- /.cart-item -->%>
<%#*<div class="clearfix"></div>%>
<%#*</li>%>
<%#*<li>%>
<%#*<div class="cart-item product-summary">%>
<%#*<div class="row">%>
<%#*<div class="col-xs-4">%>
<%#*<div class="image">%>
<%#*<img src="/assets/products/2.jpg" alt="">%>
<%#*</div>%>
<%#*</div>%>
<%#*<div class="col-xs-7">%>
<%#*<a href="#"><h3 class="name">Habace Dress Style</h3></a>%>
<%#*<div class="rating rateit-small"></div>%>
<%#*<div class="price">$360.00</div>%>
<%#*</div>%>
<%#*<div class="col-xs-1 action">%>
<%#*<a href="#"><i class="fa fa-remove"></i></a>%>
<%#*</div>%>
<%#*</div>%>
<%#*</div><!-- /.cart-item -->%>
<%#*<div class="clearfix"></div>%>
<%#*</li>%>
<%#*<li class="cart-total">%>
<%#*<div class="pull-left">%>
<%#*<div class="text">Total</div>%>
<%#*<div class="price">$360</div>%>
<%#*</div>%>	
<%#*<div class="pull-right">%>
<%#*<a href="/" class="btn btn-upper btn-blue btn-normal">Checkout</a>%>	
<%#*</div>%>	
<%#*<div class="clearfix"></div>%>
<%#*</li>%>
<%#*</ul><!-- /.dropdown-menu-->%>
              <div class="clearfix"></div>
            </li><!-- /.dropdown-cart -->
          </ul><!-- /.list-unstyled -->
        </div><!-- /.cnt-cart -->
        <div class="clearfix"></div>
      </div><!-- /.header-top-inner -->
    </div><!-- /.container -->
  </div><!-- /.header-top -->
  <!-- ============================================== TOP MENU : END ============================================== -->
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav animate-dropdown home">
    <div class="yamm navbar navbar-default" role="navigation">
      <div class="container-class container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <div class="logo">


              <img src="/assets/logo.png" width="225" height="75"> </div>	
          </a><!-- /.navbar-brand -->
          <div class="clearfix"></div>
        </div><!-- /.navbar-header-->
        <div class="nav-bg-class no-nav-bg">
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="">
                <a href="/" class="dropdown-toggle" >Home</a>

              </li>

<%#*<li class="dropdown yamm-fw ">%>
<%#*<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Living Rooms</a>%>

<%#*</li>%>

<%#*<li class="dropdown">%>
<%#*<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"> Bedrooms Dining</a>%>

<%#*</li>%>
<%#*<li class="dropdown">%>
<%#*<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">Rooms Mattresses</a>%>

<%#*</li>%>


            </ul><!-- /.navbar-nav -->
            <div class="nav-outer">
              <div class="cnt-search">

                <div class="">
                  <%= render :partial => 'spree/shared/nav_bar' %>
<%#*<input type="text" class="form-control" placeholder="Search here...">%>
<%#*<span class="input-group-btn">%>
<%#*<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>%>
<%#*</span>%>
                </div>
              </div><!-- /.cnt-search -->
              <div class="clearfix"></div>				
            </div><!-- /.nav-outer -->
          </div>

        </div><!-- /.nav-bg-class -->

      </div><!-- /.container-class -->
    </div><!-- /.navbar-default -->
  </div><!-- /.header-nav -->
  <!-- ============================================== NAVBAR : END ============================================== -->

</header>

