<nav id="sub-menu" data-hook="">
    <div class="container">
      <div class="sixteen columns">
        <ul id="sub_nav" data-hook="admin_product_sub_tabs" class="inline-menu">
          <li class="selected"><a href="/admin/organizations/1/edit">Organization Info</a></li>
          <li class=""><a href="/admin/templates">Templates</a></li>
          <li class=""><a href="/">Pages</a></li>
          <li class=""><a href="/">Cart Checkout</a></li>
          <li class=""><a href="/">Emails Templates</a></li>
          
        </ul>
      </div>
    </div>
  </nav>
 