<link href="/assets/main.css" rel="stylesheet">

<div class="body-container">
  <div class="wide-slider">
    <div id="wide-slider" class="owl-carousel owl-theme">

      <div class="item">
        <img class="lazyOwl" src="/assets/slider-images/1.jpg" alt="Furniture  Show 2016">
        <div class="content caption">
          <div class="container">
            <h3 class="large fadeInDown-1">Furniture  show 2014</h3>
            <h2 class="large fadeInDown-2">new trend this summer!</h2>
            <h4 class="med fadeInDown-3">Quisque luctus ullamcorper luctus.</h4>

          </div>	
        </div>
      </div>

    </div><!-- /.wide-slider -->

    <div  class="container">		
      <div class="wide-banners wow fadeInUp">
        <div class="row">

          <div class="col-md-6">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img src="/assets/banners/2.jpg" alt="">
              </div>	
              <div class="strip">
                <h6>2016 NEW Furniture  SHOW</h6>
                <h3>WOMEN’S FALL / WINTER</h3>
              </div>
            </div><!-- /.wide-banner-->
          </div><!-- /.col -->

          <div class="col-md-3">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img src="/assets/banners/3.jpg" alt="">
              </div>	
              <div class="strip">
                <div class="strip-inner">
                  <h5>Furniture  2016</h5>
                  <h3>For women</h3>
                </div>	
              </div>
            </div><!-- /.wide-banner-->
          </div><!-- /.col -->

          <div class="col-md-3">
            <div class="wide-banner cnt-strip">
              <div class="image">
                <img src="/assets/banners/1.jpg" alt="">
              </div>	
              <div class="strip">
                <div class="strip-inner">
                  <h5>NEW TRENDS 2016</h5>
                  <h3>Furniture  From PARIS</h3>
                </div>	
              </div>
            </div><!-- /.wide-banner-->
          </div><!-- /.col -->

        </div><!-- /.row -->
      </div><!-- /.wide-banners -->
      <!-- ============================================== SCROLL TABS ============================================== -->
      <div id="product-tabs-slider" class="scroll-tabs wow fadeInUp">
        <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>

        <% @taxonomies.each do |taxonomy| %>
          <% cache [I18n.locale, taxonomy, max_level] do %>
            <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
          <% end %>
        <% end %>

        <div class="tab-content">
          <div class="tab-pane in active" id="new">			
            <div class="product-slider">
              <div class="owl-carousel owl-theme prod-slider-4">

                <div class="product">

                </div><!-- /.prod-slider -->
              </div><!-- /.product-slider -->
            </div><!-- /.tab-pane -->

          </div><!-- /.tab-content -->
        </div><!-- /.scroll-tabs -->
        <!-- ============================================== SCROLL TABS : END ============================================== -->
        <div class="wide-banners wow fadeInUp">
          <div class="row">

            <div class="col-md-4">
              <div class="wide-banner cnt-strip">
                <div class="image">
                  <img data-echo="/assets/banners/4.jpg"  alt="">
                </div>	
                <div class="strip strip-no-bg">
                  <div class="strip-inner">
                    <h5>2016 NEW Furniture  SHOW</h5>
                    <h2>2014 Furniture  SHOW</h2>
                  </div>	
                </div>
              </div><!-- /.wide-banner-->
            </div><!-- /.col -->

            <div class="col-md-8">
              <div class="wide-banner cnt-strip">
                <div class="image">
                  <img data-echo="/assets/banners/5.jpg"  alt="">
                </div>	
                <div class="strip strip-no-bg strip-right-left">
                  <div class="strip-inner">
                    <h5>Furniture  2016</h5>
                    <h2>For women</h2>
                  </div>	
                </div>
              </div><!-- /.wide-banner-->
            </div><!-- /.col -->

          </div><!-- /.row -->
        </div><!-- /.wide-banners -->
        <!-- ============================================== NEW ARRIVALS ============================================== -->
        <section class="section wow fadeInUp">
          <h3 class="section-title">NEW ARRIVALS</h3>
          <div class="product-grid" id="products-gallery">

            <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>

          </div><!-- /.product-grid -->
        </section><!-- /.section -->
        <!-- ============================================== NEW ARRIVALS : END ============================================== -->
      </div><!-- /.container -->
    </div><!-- /.body-container -->

    <script type="text/javascript">
      (function() {
        $('.cat123').first().click();
        $('.cat123').first().parent().addClass('active');

        $(".cat123").click(function() {
          $(".cat123").parent().removeClass('active');
          $(this).parent().addClass('active');
        });
      })();


  <%#*function catClicked() {%>
  <%#*$('.cat123').last().parent().addClass('active');%>
  <%#*}%>
    </script>