 <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
      <h3 class="form-section" align="center">Change History</h3>
        <li style="border-bottom: 1px solid #eee;" class="<%= is_active?("/admin/versions/products_versions") %>"><a href="/admin/versions/products_versions"><span>Prodcuts</span></a></li>
        <li style="border-bottom: 1px solid #eee;" class="<%= is_active?("/admin/versions/users_versions") %>"><a href="/admin/versions/users_versions"><span>Users</span></a></li>
        <li style="border-bottom: 1px solid #eee;" class="<%= is_active?("/admin/versions/orders_versions") %>"><a href="/admin/versions/orders_versions"><span>Orders</span></a></li>
            </ul>
    </div>
  </div>
