.menu-color {
    background: #8F0F0F !important;
    text-align: center;
    padding: 20px;
}
.header-color {
    background: #530707 !important;
    position: relative;
}
a:hover, a:focus, .active {
    color: #E0DEDE !important;
}
.section-counter:before {
    background-color: #A20E0E !important;
}
.btn-primary {
    background-color: #8F0F0F !important;
    border-color: #530707 !important;
}
table thead {
    background-color: #AF2323 !important;
    text-transform: uppercase;
}
table tbody tr.alt, table tbody tr.odd, table tfoot tr.alt, table tfoot tr.odd {
    background-color: #fff !important;
}
.cart-subtotal, .cart-total {
    background: #AF2323 !important;
    color: black !important;
}
::selection {
    background: #AF2323;
    color: white;
    text-shadow: none;
}
.header-top .cnt-cart .list-unstyled > li > a:active {
    color: #fff !important;
}
.btn-default {
    color: #fff !important ;
    background-color: #fff;
    border-color: #ccc;
}
.progress-steps li.current-first, .progress-steps li.current {
    background-color: #AF2323 !important;
    color: white;
}
.progress-steps li.current-first, .progress-steps li:hover {
    background-color: #AF2323 !important;
    color: white;
}
input[type="submit"].gray, input[type="button"].gray, input[type="reset"].gray, button.gray, a.button.gray {
    background-color: #AF2323 !important;
    border-color: #AF2323 !important;
}
ul#products li .price {
color: #754649 !important;
}
ul#products li a.info {
  color: #7E7777 !important
}
.menu-sep a{ 
    color:#DA4141;
}
.sub-menu a {
    color: #DA4141 !important;
}
.sub-menu a:hover {
    color:#4E1E12 !important;
}
.number-amount{ 
    color:#fff;
}
.info a{
    color:#fff;
}
.more-color {
    color: #DA4141 !important;
}
.shopping-icon .number-amount {
    background-color: #AF0909;
}
.mobile-menu-wrap {
    background-color: #8F0F0F;
}
.mobile-menu-wrap a {
    color: #E2E2E2;
    display: block;
    padding-left: 30px;
}
.current {
    background: #AF2323 !important;
}
#main-footer{
    background: #8F0F0F;
}


.read-more-button 
{
    background-color: #8F0F0F !important;
}

.comments_count
{
     background-color: #8F0F0F !important;
}

.left_meta
{
     border-top: 2px solid  #8F0F0F !important;
}

.header-box-blog 
{
    background: #8F0F0F none repeat scroll 0 0 !important;
}
.blog-bg
{
   background:#8F0F0F !important;
}
.blog-bg:hover
{
     background:#8F0F0F !important;
}
table thead tr th {

color: #fff !important;
}
.temp-3-total{
    color: #fff !important;
    font: 18px;

}

#shipping_method .stock-location {

background-color: #AF2323;

}
#shipping_method table.stock-contents th, #shipping_method table.stock-contents th i { background-color: #C04C4C !important; color: #fff !important;}
#shipping_method .stock-shipping-method-title { color: #fff !important;   background-color: #AF2323 !important;}
